@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
}

/* Reward / confirm */
.btn-gold {
  background-color: #b58a2c;
  color: #2c1e00;
  border: 2px solid #6f5416;
}

.btn.btn-gold:hover {
  background-color: #8f6b22;
}

/* Focus / Active / Selected */
.btn.btn-gold:focus,
.btn.btn-gold:active,
.btn.btn-gold.active,
.btn-check:checked + .btn.btn-gold {
  background-color: #8f6b22;
  color: #fff;
  opacity: 1;
  box-shadow: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* ✅ empêche le scroll de la fenêtre */
}
